*{
    min-height: 0;
    min-width: 0;
}

.slides {
    position: relative;
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    grid-template-rows: 2fr 1fr;
    overflow: hidden;
}

.slick-list {
    grid-column: 1 / span 5;
    grid-row: 1;
    height: 100% !important;
    width: 25%;
    margin: 0 auto;
}

.slick-track {
    height: 550px;
    display: flex;
    align-items: center;
    min-width: 100%;
}

.slick-slide {
    display: block;
    box-sizing: border-box;
    height: 370px;
    transition: .2s;
}

.slick-slide > div{
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
}

.slick-dots{
    grid-row: 2;
    grid-column: 3;
    position: relative;
    margin-top: 20px;
}


@media only screen and (max-width: 1300px) {
    .slick-list{
        width: 50%;
    }

    .slides{
        grid-template-columns: 20% 5% 50% 5% 20%;
    }
}

@media only screen and (max-width: 700px) {
    .slick-list{
        width: 80%;
        padding: 0 45px !important;
    }

    .slick-track{
        height: fit-content;
    }
}

@media only screen and (min-width: 700px) {
    .slick-center {
        width: 650px !important;
        height: 100% !important;
    }
    
    .slick-center #texto {
        font-size: 120%;
    }
    
    .slick-center h3 {
        font-size: 120%;
    }
    
    .slick-center h2 {
        font-size: 170%;
        margin: 7% 0;
    }
}