.card{
    padding: 10px;
    background-color: #a5e2d7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.card img{
    width: 20%;
    align-self: flex-start;
}

.card h2 {
    width: fit-content;
    margin: 0;
}

.card p {
    text-align: center;
    margin: 0;
}

.card #texto {
    margin: 16px 5px;
}

.card span {
    display: block;
    text-align: center;
}