
.card{
    padding: 10px;
    background-color: #a5e2d7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    font-family: 'Roboto';
}

.card img{
    width: 25%;
    align-self: flex-start;
}

.card h2 {
    width: fit-content;
    font-weight: 900;
    font-size: 140%;
    color: #30736C;
    margin-top: 5px;
}

.card p {
    text-align: center;
    margin: 0;
}

.card #texto {
    margin: 10% 20px;
    font-size: 100%;
}

.card span {
    display: block;
    text-align: center;
}