.slick-dot {
    height: 2px;
    width: 100%;
    background-color: #30736c;
    transition: .2s;
}

.slick-dots{
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.slick-dots ul{
    display: flex;
    align-items: center;
    padding-left: 0;
}

.slick-dots li{
    width: 20%;
    marker: none;
    display: inline-block;
}

.slick-dots h2{
    font-family: 'Roboto';
    font-size: 2rem;
    color: #30736c;
    font-weight: 900;
}

.slick-active .slick-dot {
    height: 5px;
}

.slick-arrow {
    height: 40px;
    width: 100%;
    margin: 20px auto;
}

.next{
    grid-column: 4;
    transform: rotate(180deg);
}

.last{
    grid-column: 2;
}

.arrow-img {
    background-image: url(./assets/arrow.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 700px) {
    .slick-arrow{
        visibility: hidden;
    }

    .slick-dots h2{
        visibility: hidden;
    }

    .slick-dot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #30736c;
    }

    .slick-active .slick-dot{
        height: 20px;
        width: 20px;
        background-color: #30736c;
    }
}