@font-face{
    font-family: 'geometr706';
    src: url(./assets/geometr706-blkcn-bt-black.ttf);
}

.secao-depoimentos{
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.descricao-depoimentos{
    grid-row: 1;
    grid-column: 1;
}

.descricao-depoimentos h2{
    font-size: 35px;
    margin: 20px 0;
    font-family: 'geometr706';
}

.descricao-depoimentos p{
    font-size: 20px;
    margin: 30px 0;
    font-family: 'Roboto';
}

.slick-depoimentos-div{
    grid-row: 1;
    grid-column: 1 / span 2;
}

#enfeite-2{
    position: absolute;
    width: 100vw;
    height: 150%;
    left: -5vw;
    top: -30%;
    z-index: -1;

    background-image: url(./assets/enfeite-2.png);
    background-size: 180%;
    background-repeat: no-repeat;
    background-position: 55%;
}

@media only screen and (max-width: 1300px){
    .secao-depoimentos{
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 80%;
    }
    
    .descricao-depoimentos{
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 50px;
        text-align: center;
    }

    .slick-depoimentos-div{
        grid-row: 2;
        grid-column: 1;
    }

    #enfeite-2{
        left: 0;
        background-size: 150%;
        height: 80%;
    }
}

@media only screen and (max-width: 700px){
    .secao-depoimentos{
        width: 100%;
        margin: 0;
        grid-template-rows: 10% 90%;
    }

    .descricao-depoimentos h2{
        text-align: center;
        font-size: 28px;
    }

    .descricao-depoimentos p{
        display: none;
    }
}