@font-face{
    font-family: 'Geometr706';
    src: url('./assets/geometr706-blkcn-bt-black.ttf');
}

*{
    margin: 0;
    padding: 0;
}

.contato-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 110px;
}

.fale-conosco{
    width: 60%;
    height: 950px;
    background-image: url(./assets/path-2.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 100% 0%;
}

.contato{
    width: 65%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.contato h2{
   font-family: 'Geometr706';
   font-size: 40px;
   color: #A5E2D7;
   margin-top: 60px;
}

.contato form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
}

#nome, #email, #telefone, #conheceu, #assunto, #mensagem{
    height: 40px;
    background-color: transparent;
    font-family: 'Roboto';
    color: #A5E2D7;
    border: none;
    border-bottom: 1px solid #A5E2D7 ;
    font-size: 20px;
}

::placeholder{
    color: #A5E2D7
}

#mensagem{
    height: 100px;
    padding-top: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input[type='submit']{
    width: 130px;
    height: 30px;
    background-color: #A5E2D7;
    transition: .2s;
    color: #30736C;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 15px auto;
}

input[type='submit']:hover{
    background-color: #50b9a6;
}

.infos {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
}

.infos h2{
   font-family: 'Geometr706';
   font-size: 40px;
   text-align: right;
   margin: 20px 0;
}

.info{
    text-align: right;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info p{
    font-size: 20px;
    margin-right: 10px;
    max-width: 400px;
    text-align: right;
    font-family: 'Roboto';
}

.info-icon{
    color: #30736C;
}

.social-mobile{
    visibility: hidden;
}

.logo{
    width: 220px;
}

@media only screen and (max-width: 1300px){
    .contato-sec{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .fale-conosco{
        width: 100%;
        height: 800px;
        background-size: contain;
        background-position: center;
    }

    .social{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .infos{
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infos h2{
        visibility: hidden;
        height: 0;
    }

    .info p {
        font-size: 100%;
        text-align: center;
    }

    .endereco-info{
        width: 80% !important;
    }

    .email-info p{
        margin-left: 5px;
    }

    .info{
        flex-direction: row-reverse;
        width: fit-content;
    }

    .contato{
        width: 50%;
        margin: 0 auto;
    }

    .instagram-info, .facebook-info, .pin-icon{
        visibility: hidden;
        height: 0;
        width: 0;
    }

    .social-mobile{
        display: flex;
        justify-content: center;
        visibility: visible;
    }

    .social-mobile a{
        width: 35px;
        margin: 0 10px;
        color: #30736C;
    }

    .mobile-icon{
        width: 100% !important;
        height: 100% !important;
    }

    .separador{
        width: 80px;
        height: 3px;
        background-color: #30736C;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 700px){
    .fale-conosco{
        height: 600px;
    }
    .contato {
        margin-top: 30px;
        width: 80%;
    }

    .contato h2 {
        margin: 20px 0;
        font-size: 20px;
    }

    #nome, #email, #telefone, #conheceu, #assunto, #mensagem{
        font-size: 13px;
        height: 30px;
    }

    #mensagem{
        height: 60px;
    }

    input[type='submit']{
        width: 130px;
        height: 30px;
        font-size: 13px;
        margin: 15px 0;
    }
}

@media only screen and (max-width: 500px){
    .fale-conosco{
        height: 500px;
        background-size: 130%;
        background-position: center;
    }
}